openapi: 3.2.0
info:
  title: Texas Instruments Store Shipments API
  description: The Texas Instruments Store API provides programmatic access to TI's ordering and inventory platform. It enables enterprise customers to retrieve real-time inventory and pricing, create and retrieve orders, and track shipments via Advanced Ship Notice (ASN). Authentication uses OAuth 2.0 client credentials flow against the transact.ti.com token endpoint.
  version: '2.0'
  contact:
    name: Texas Instruments API Support
    url: https://api-portal.ti.com/support
  license:
    name: Proprietary
    url: https://www.ti.com/
servers:
- url: https://transact.ti.com/v2/store
  description: Production - TI Store API
- url: https://transact.ti.com/v2/store/orders/test
  description: Test - Order API
security:
- OAuth2: []
tags:
- name: Shipments
  description: Advanced Ship Notice (ASN) retrieval
paths:
  /advanced-ship-notices:
    get:
      operationId: getAdvancedShipNotices
      summary: Get Advanced Ship Notices
      description: Retrieves advanced ship notice (ASN) information for shipments associated with a specific order, including tracking numbers, carrier information, and commercial invoice details.
      tags:
      - Shipments
      parameters:
      - name: orderNumber
        in: query
        required: true
        description: TI order number to retrieve ASNs for
        schema:
          type: string
      responses:
        '200':
          description: Advanced ship notice data
          content:
            application/json:
              schema:
                type: object
                properties:
                  advancedShipNotices:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdvancedShipNotice'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Invalid or missing authentication token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
    AdvancedShipNotice:
      type: object
      description: Shipment tracking and carrier information for a TI order.
      properties:
        asnNumber:
          type: string
          description: Advanced Ship Notice number
        orderNumber:
          type: string
        trackingNumber:
          type: string
          description: Carrier tracking number
        carrier:
          type: string
          description: Carrier name (e.g., FedEx, UPS)
        shipDate:
          type: string
          format: date
        estimatedDeliveryDate:
          type: string
          format: date
        lineItems:
          type: array
          items:
            type: object
            properties:
              tiPartNumber:
                type: string
              quantity:
                type: integer
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://transact.ti.com/v1/oauth/accesstoken
          scopes: {}
      description: OAuth 2.0 client credentials flow. Obtain access token using client_id and client_secret from your myTI company account.
externalDocs:
  description: TI Store API Developer Portal
  url: https://www.ti.com/developer-api/store-api/getting-started.html
